# --- Python / Django ---
.venv/
*.py[cod]
db.sqlite3
.env
**/__pycache__/
*.pyc

# --- Специфічне для GatePlate ---
videos/
runs/
*.pt

# --- MediaMTX & FFmpeg ---
mediamtx/mediamtx.exe
mediamtx/ffmpeg.exe
mediamtx/mediamtx.log
*.log

# --- Сертифікати та Секрети ---
*.pem
*.crt
*.key

# --- Тестування та IDE ---
.coverage
htmlcov/
.vscode/
.DS_Store
backup.sql